body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.top-container {
    background-color: lightblue;
    padding-top: 100px;
    position: relative;
}

h1 {
    font-size: 562.5%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Pacifico', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Roboto Slab', serif;
    color: #66BFBF;
}

h3 {
    font-family: 'Roboto Slab', serif;
    color: #11999E;
}

a {
    color: #11999E;
    text-decoration: none;
}

a:hover {
    color: white;
}

p {
    font-weight: normal;
    font-family: 'Comfortaa', cursive;
    line-height: 2;
}

.desc-text {
    color: #66BFBF;
    margin-top: 0;
    font-family: monospace;
    font-size: xx-large;
}

.pro {
    text-decoration: underline;
}

.me-decs {
    width: 35%;
    margin: auto;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.middle-container {
    margin: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.last-cloud {
    position: absolute;
    right: 300px;
    bottom: 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.me {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 15%;
    height: 15%;
}

.computer {
    width: 20%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

hr {
    color: grey;
    border-style: dotted none none none;
    border-radius: 50%;
    width: 15%;
    border-width: 5px;
}

.shuttle {
    width: 27%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}

.bottom-container {
    padding: 50px 0 50px 0;
    background-color: #66BFBF;
    margin-top: 10px;
    margin-bottom: 0;
}

.end {
    color: #EAF6F6;
    margin-bottom: 0;
}

.BUTTON_MCV {
    background: #3DF6E5;
    background-image: -webkit-linear-gradient(top, #3DF6E5, #1ED096);
    background-image: -moz-linear-gradient(top, #3DF6E5, #1ED096);
    background-image: -ms-linear-gradient(top, #3DF6E5, #1ED096);
    background-image: -o-linear-gradient(top, #3DF6E5, #1ED096);
    background-image: linear-gradient(to bottom, #3DF6E5, #1ED096);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 100;
    padding: 27px;
    box-shadow: 3px 1px 20px 0 #000000;
    -webkit-box-shadow: 3px 1px 20px 0 #000000;
    -moz-box-shadow: 3px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_MCV:hover {
    background: rgba(30, 183, 208, 0.67);
    border: solid rgba(51, 228, 237, 0.86) 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}
